body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #fff;
}

.agumon-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33em;
    height: 30em;
}

.agumon{
    display: block;
    width: 1em;
    height: 1em;

    box-shadow:
            12em 1em #333333,
            13em 1em #333333,
            14em 1em #333333,
            15em 1em #333333,
            16em 1em #333333,
            17em 1em #333333,
            18em 1em #333333,
            19em 1em #333333,

            11em 2em #333333,
            12em 2em #333333,
            13em 2em #333333,
            14em 2em #333333,
            15em 2em #fed434,
            16em 2em #fed434,
            17em 2em #fed434,
            18em 2em #fed434,
            19em 2em #f39a26,
            20em 2em #333333,
            21em 2em #333333,

            9em 3em #333333,
            10em 3em #333333,
            11em 3em #333333,
            12em 3em #333333,
            13em 3em #333333,
            14em 3em #ff9409,
            15em 3em #fed434,
            16em 3em #fed434,
            17em 3em #333333,
            18em 3em #333333,
            19em 3em #fed434,
            20em 3em #fed434,
            21em 3em #333333,

            8em 4em #333333,
            9em 4em #333333,
            10em 4em #333333,
            11em 4em #333333,
            12em 4em #333333,
            13em 4em #ff9409,
            14em 4em #fed434,
            15em 4em #fed434,
            16em 4em #333333,
            19em 4em #333333,
            20em 4em #fed434,
            21em 4em #ffa100,
            22em 4em #333333,

            7em 5em #333333,
            8em 5em #fed434,
            9em 5em #fed434,
            10em 5em #fed434,
            11em 5em #fed434,
            12em 5em #fed434,
            13em 5em #fed434,
            14em 5em #fed434,
            15em 5em #333333,
            16em 5em #333333,
            18em 5em #0eca04,
            19em 5em #333333,
            20em 5em #fed434,
            21em 5em #fed434,
            22em 5em #333333,

            7em 6em #333333,
            8em 6em #fed434,
            9em 6em #fed434,
            10em 6em #fed434,
            11em 6em #fcaa00,
            12em 6em #fed434,
            13em 6em #fed434,
            14em 6em #fed434,
            15em 6em #fed434,
            16em 6em #333333,
            17em 6em #00ca11,
            18em 6em #76de0b,
            19em 6em #ff9905,
            20em 6em #fed434,
            21em 6em #fed434,
            22em 6em #333333,

            7em 7em #333333,
            8em 7em #fed434,
            9em 7em #fed434,
            10em 7em #fed434,
            11em 7em #fed434,
            12em 7em #fed434,
            13em 7em #fed434,
            14em 7em #fed434,
            15em 7em #fed434,
            16em 7em #fed434,
            17em 7em #333333,
            18em 7em #fed434,
            19em 7em #fed434,
            20em 7em #fed434,
            21em 7em #faa91a,
            22em 7em #333333,

            7em 8em #333333,
            8em 8em #fed434,
            9em 8em #fed434,
            10em 8em #fed434,
            11em 8em #fed434,
            12em 8em #fed434,
            13em 8em #fed434,
            14em 8em #fed434,
            15em 8em #333333,
            16em 8em #333333,
            17em 8em #ffa602,
            18em 8em #fed434,
            19em 8em #fed434,
            20em 8em #fed434,
            21em 8em #faa315,
            22em 8em #333333,

            8em 9em #333333,
            9em 9em #333333,
            10em 9em #333333,
            11em 9em #333333,
            12em 9em #333333,
            13em 9em #333333,
            14em 9em #333333,
            15em 9em #ffa300,
            16em 9em #ffa300,
            17em 9em #fed434,
            18em 9em #fed434,
            19em 9em #fed434,
            20em 9em #ff9e00,
            21em 9em #333333,

            9em 10em #333333,
            10em 10em #ff9d00,
            11em 10em #fed434,
            12em 10em #fed434,
            13em 10em #fed434,
            14em 10em #fed434,
            15em 10em #fed434,
            16em 10em #fed434,
            17em 10em #fed434,
            18em 10em #fed434,
            19em 10em #333333,
            20em 10em #ff9e00,
            21em 10em #333333,
            22em 10em #333333,

            10em 11em #333333,
            11em 11em #333333,
            12em 11em #333333,
            13em 11em #333333,
            14em 11em #ffa809,
            15em 11em #ff9917,
            16em 11em #ff9e00,
            17em 11em #333333,
            18em 11em #333333,
            19em 11em #ff9707,
            20em 11em #fed434,
            21em 11em #fed434,
            22em 11em #333333,
            23em 11em #333333,
            24em 11em #333333,

            14em 12em #333333,
            15em 12em #333333,
            16em 12em #eba61d,
            17em 12em #f69f1a,
            18em 12em #f6a202,
            19em 12em #ff9f00,
            20em 12em #333333,
            21em 12em #333333,
            22em 12em #fed434,
            23em 12em #fed434,
            24em 12em #fed434,
            25em 12em #333333,

            9em 13em #333333,
            10em 13em #333333,
            11em 13em #333333,
            12em 13em #333333,
            13em 13em #333333,
            14em 13em #ea6321,
            15em 13em #333333,
            16em 13em #fed434,
            17em 13em #fed434,
            18em 13em #333333,
            19em 13em #333333,
            20em 13em #fed434,
            21em 13em #fed434,
            22em 13em #fed434,
            23em 13em #fed434,
            24em 13em #f6af00,
            25em 13em #333333,
            26em 13em #333333,
            27em 13em #333333,

            7em 14em #333333,
            8em 14em #333333,
            9em 14em #fca019,
            10em 14em #e49e00,
            11em 14em #efa60b,
            12em 14em #f8a906,
            13em 14em #f95516,
            14em 14em #333333,
            15em 14em #333333,
            16em 14em #eb9d00,
            17em 14em #333333,
            19em 14em #fed434,
            20em 14em #fed434,
            21em 14em #fed434,
            22em 14em #fed434,
            23em 14em #fed434,
            24em 14em #ff9a00,
            25em 14em #333333,
            26em 14em #ff950a,
            27em 14em #333333,

            6em 15em #333333,
            7em 15em #bebebe,
            8em 15em #ffa101,
            9em 15em #333333,
            10em 15em #fed434,
            11em 15em #fed434,
            12em 15em #f69500,
            13em 15em #333333,
            15em 15em #333333,
            16em 15em #333333,
            18em 15em #333333,
            20em 15em #fed434,
            21em 15em #333333,
            22em 15em #fed434,
            23em 15em #ff9523,
            24em 15em #333333,
            25em 15em #ffa300,
            26em 15em #333333,

            5em 16em #333333,
            6em 16em #bababa,
            7em 16em #bfbfbf,
            8em 16em #333333,
            10em 16em #fed434,
            11em 16em #ffa300,
            12em 16em #333333,
            14em 16em #333333,
            15em 16em #f39c00,
            16em 16em #333333,
            17em 16em #333333,
            20em 16em #333333,
            22em 16em #bdcca5,
            23em 16em #333333,
            24em 16em #333333,
            25em 16em #333333,

            5em 17em #333333,
            6em 17em #333333,
            7em 17em #333333,
            9em 17em #c6c6c6,
            10em 17em #333333,
            11em 17em #333333,
            13em 17em #333333,
            14em 17em #333333,
            15em 17em #f5a802,
            16em 17em #ff9d00,
            17em 17em #333333,
            19em 17em #333333,
            20em 17em #333333,
            22em 17em #333333,
            23em 17em #fed434,
            24em 17em #ffa000,
            25em 17em #333333,

            7em 18em #333333,
            8em 18em #333333,
            9em 18em #333333,
            12em 18em #333333,
            13em 18em #ff9a00,
            14em 18em #f99900,
            15em 18em #333333,
            16em 18em #f1a600,
            17em 18em #333333,
            18em 18em #333333,
            19em 18em #ffa900,
            20em 18em #333333,
            21em 18em #333333,
            22em 18em #f7a503,
            23em 18em #e9a30d,
            24em 18em #fc9f04,
            25em 18em #f9a92c,
            26em 18em #333333,

            11em 19em #333333,
            12em 19em #c7c1cb,
            13em 19em #333333,
            14em 19em #b7c9d7,
            15em 19em #ffa200,
            16em 19em #eeb000,
            17em 19em #f1b517,
            18em 19em #fe9d01,
            19em 19em #333333,
            20em 19em #fa9400,
            21em 19em #fed434,
            22em 19em #e6ca3a,
            23em 19em #ffd32a,
            24em 19em #f9980b,
            25em 19em #eea70f,
            26em 19em #333333,

            11em 20em #333333,
            12em 20em #333333,
            13em 20em #333333,
            14em 20em #333333,
            15em 20em #333333,
            16em 20em #333333,
            17em 20em #333333,
            18em 20em #333333,
            20em 20em #333333,
            23em 20em #333333,
            25em 20em #f69900,
            26em 20em #333333,

            18em 21em #333333,
            19em 21em #333333,
            20em 21em #333333,
            21em 21em #333333,
            22em 21em #333333,
            23em 21em #333333,
            24em 21em #333333,
            25em 21em #333333

}